@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(14, 14, 14);
  --secondary-color: #f91e5a;
  --accent-color: rgb(190, 4, 54);
  --primary-text-color: rgb(245, 245, 245);
  --secondary-text-color: rgb(214, 214, 214);
  --font: "Quicksand", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
