@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0e0e0e;
  --secondary-color: #f91e5a;
  --accent-color: #be0436;
  --primary-text-color: rgb(245, 245, 245);
  --secondary-text-color: rgb(214, 214, 214);
  --font: "Quicksand", sans-serif;
  --m-content: 32px;
  --m-div: 80px;
  --m-content2: 16px;
  --m-div2: 40px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
}
